<div>
    <h1>Over dotNed</h1>

    <div class="jumbotron">
        <p>
            This server is running @ViewData["OperatingSystem"] version @ViewData["OperatingSystemVersion"].
            The runtime used is the @ViewData["RuntimeType"] version @ViewData["RuntimeVersion"] (@ViewData["RuntimeArchitecture"])
        </p>
    </div>

    <p>dotNed is een non-profit organisatie met als doel het bij elkaar brengen van .net ontwikkelaars. Wij streven ernaar om de kennis die we met zijn allen hebben onder de Nederlandse .net ontwikkelaars zo veel mogelijk te verspreiden, ten einde het totale niveau van onze beroepsgroep te verhogen. Om dit te bereiken doet dotNed een aantal dingen:</p>
    <ul>
        <li>We organiseren minstens 10 keer per jaar een reguliere gratis bijeenkomst</li>
        <li>We organiseren een aantal 'specials'; gratis bijeenkomsten rond grote conferences</li>
        <li>We bieden een website waar mensen contacten kunnen leggen We hebben een forum waar mensen vragen kunnen stellen en beantwoorden</li>
        <li>We publiceren een nieuwsbrief met nieuwtjes en wetenswaardigheden</li>
        <li>We hebben weblogs, artikelen en whitepapers die ontwikkelaars als bron van informatie kunnen gebruiken</li>
    </ul>
    <p>dotNed is een stichting. Dit betekent dat we geen leden hebben en geen contributie kennen. Alles wat we doen wordt bekostigd door onze sponsors. Hoewel we de kosten laag weten te houden door alles door vrijwilligers te laten uitvoeren (we hebben geen mensen in dienst), zijn er toch altijd uitgaven die gedaan moeten worden. Zonder onze sponsors zou dotNed niet kunnen bestaan.</p>
    <p>Onze sponsors regelen voor ons onder andere het volgende:</p>
    <ul>
        <li>Gratis hosting van onze website</li>
        <li>Onderdak bieden aan onze bijeenkomsten, regelmatig inclusief een hapje en een drankje Beschikbaar stellen van boeken, software, tijdschriften en andere zaken voor onze bezoekers</li>
        <li>Beschikbaar stellen van tijd voor de bestuursleden</li>
    </ul>
    <p>En nog veel meer... Wij zijn onze sponsors dan ook erg dankbaar voor hun hulp!</p>





    <h1>Het bestuur</h1>





    <p>dotNed wordt geleid door een vijf-koppig bestuur. Deze mensen steken erg veel van hun schaarse vrije tijd in het realiseren van de dingen die boven genoemd worden. We willen deze mensen dan ook graag hier even voorstellen:</p>




    <table border="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <h2>Dennis Vroegop</h2>
                    <p>Voorzitter</p>
                    <p>Dennis Vroegop werkt als consultant en software architect bij <span style="text-decoration: underline;"><a href="http://www.destrato.com/">deStrato</a></span> Hij heeft programmeer ervaring vanaf zijn 11e jaar (begonnen op de Commodore 64) en is vanaf daar doorgegroeid via Cobol, Pascal, VB 1.0, C, C++, Delphi naar zo'n beetje alles wat met .net te maken heeft.</p>
                    <p>Dennis doet veel troubleshooting bij organisaties die vast komen te zitten in hun .net projecten of die even een frisse kijk willen op hun manier van werken.</p>
                    <p>Dennis heeft als doel heel programmerend Nederland (en daarbuiten!) op het .net platform te krijgen. Om dat doel te bereiken is hij al jaren lid van het bestuur van dotNed, hij spreekt in binnen- en buitenland en schrijft regelmatig artikelen over .net gerelateerde zaken. </p>
                    <p>Voor zijn inzet voor de community heeft Microsoft Dennis onderscheiden met de MVP Surface Award</p>
                    <p>Je kunt Dennis bereiken op <a href="mailto:dennis@dotned.nl"><span style="text-decoration: underline;">dennis@dotned.nl</span></a></p>
                    <p> </p>
                </td>
                <td width="128"> </td>
            </tr>
            <tr>
                <td>
                    <h3>Sander Gerz</h3>
                    <p>Vice-voorzitter</p>
                    <p>Sander Gerz is software architect bij <a href="http://www.solvec.nl/" target="_blank"><span style="text-decoration: underline;">Solvec B.V</span></a>., een consulting, training en hosting bedrijf gespecialiseerd in het Windows platform. Hij is al enkele jaren actief in de ontwikkelaarsgemeenschap via de website DevTips.NET, de Nederlandse .NET usergroup (dotNed), als moderator van het Visual C# forum op forums.microsoft.com/msdn en als spreker en expert op conferenties. Voor zijn inzet heeft Microsoft hem sinds 2003 de MVP award voor Visual C# toegekend. Je kunt hem bereiken via zijn weblog <a href="http://www.todotnet.com/" target="_blank" title="http://www.todotnet.com"><span style="text-decoration: underline;">http://www.todotnet.com</span></a>  </p>
                    <p>Je kunt Sander bereiken op <span style="text-decoration: underline;"><a href="mailto:sander@dotned.nl">sander@dotned.nl</a></span></p>
                </td>
                <td width="128"> </td>
            </tr>
            <tr>
                <td> </td>
                <td width="128"> </td>
            </tr>
            <tr>
                <td> </td>
                <td width="128"> </td>
            </tr>
            <tr>
                <td>
                    <h3>Hassan Fadili</h3>
                    <p>Bestuurslid</p>
                    <p>Hassan is een gedreven en leergierige medewerker, die zijn opdrachten met enthousiasme en professionaliteit oppakt. Hij functioneert graag en goed in teams. Hij streeft er altijd naar om het maximale uit het team te halen.</p>
                    <p>Binnen zijn vakgebied heeft hij grote interesse in IT Architecturen, methoden en technieken ten behoeve van software ontwikkeling. Hassan is in diverse rollen inzetbaar zoals applicatie ontwikkelaar, designer of architect vaak gecombineerd met een stuk teamleiding. Met zijn service- en klantgerichte houding, kan Hassan goed functioneren binnen projecten, waarbij hij, indien nodig, niet schroomt de projectleiding op zich te nemen. Hassan is in staat een heldere uiteenzetting te geven van technisch geavanceerde omgevingen. Zijn persoonlijke eigenschappen zijn: gedrevenheid, communicatief, teamplayer, leergierig en consentieus. Binnen projecten is hij stressbestendig en flexibel ingesteld. Hij is gefocust op techniek, maar heeft ook oog voor bedrijfsprocessen en vernieuwingen.</p>
                    <p>Hassan is een veel gezien persoon in de .net community. Hij wordt regelmatig gevraagd te spreken voor organisaties die intern de kennis over het .net platform en Team System willen waarborgen en/of vergroten. Daarnaast is hij een graag geziene spreker op diverse conferenties en seminars, zoals de DevDays, SDC en vele anderen. Ook verschijnen er van Hassan regelmatig artikelen over diverse onderwerpen.</p>
                    <p>Voor zijn enorme kennis van Visual Studio Team System en de diverse Microsoft technieken en producten, als ook voor zijn inzet voor de ontwikkelaarscommunity is Hassan door Microsoft onderscheiden met de prestigieuze MVP Award. De MVP Award (Microsoft Most Valuable Professional) is een onderscheiding voor een select groepje mensen die zich onderscheiden van hun vakgenoten door hun buitengewone kennis van hun vakgebied. Slechts een klein groepje wereldwijd mag zich MVP noemen. Deze titel is toegekend aan experts op een bepaald gebied, in het geval van Hassan is dit Visual Studio Team System. Voor meer informatie over het MVP programma verwijzen wij u naar <a href="http://mvp.support.microsoft.com/">http://mvp.support.microsoft.com</a></p>
                    <p>Je kunt Hassan bereiken op <a href="mailto:hassan@dotned.nl"><span style="text-decoration: underline;">hassan@dotned.nl</span></a></p>
                    <p> </p>
                </td>
                <td width="128"> </td>
            </tr>
            <tr>
                <td>
                    <h3>Maurice de Beijer</h3>
                    <p>Bestuurslid</p>
                    <p>Maurice de Beijer is een freelance trainer, ontwikkelaar en trouble shooter die zich specialiseert in Microsoft.NET. Hij is al lang actief in de .NET gemeenschap in Nederland. Naast het organiseren van bijeenkomsten en schrijven van artikelen spreekt hij zelf regelmatig in binnen- en buitenland. Als trainer voor het Amerikaanse DevelopMentor geeft hij regelmatig cursussen over Windows Workflow Foundation en Windows Communication Foundation in Europa en in de Verenigde Staten.</p>
                    <p>Maurice heeft sinds 2005 elk jaar de Microsoft MVP award gekregen voor zijn werk als Connected Systems Developer.</p>
                    <p>Maurice is te bereiken via <a href="mailto:maurice@dotned.nl">maurice@dotned.nl</a> of via zijn website <a href="http://www.theproblemsolver.nl/">http://www.theproblemsolver.nl/</a></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p> </p>


</div>

